/* Add CSS Styling */
.odd-number {
    background-color: rgb(255, 166, 168);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#second {
    color: rgb(0, 33, 249);
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#forth {
    background-color: rgb(120, 255, 140);
    font-size: 24px;
    font-weight: bold;
}